.header{
	text-align: right;
	font-size: 13px;
	margin:15px;

}
a{
	text-decoration: none;
	padding:7px;
	color:black;
}
a:hover{
	text-decoration: underline;
}
button{
	border-radius: 2px;
	font-size:13px;
	padding:7px 13px;
	border:0;

}
#login{
	background-color: rgba(29, 82, 240, 0.77);
	color:white;
}
.content{
	padding:5vmax;
	
}

.logo{
	display:flex;
	justify-content: center;
	padding:33px;
}
.form{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px;
	grid-template-areas: "searchbar searchbar" "search lucky";
	grid-column-gap: 1vw;
	grid-row-gap: 5vh;
}

#input{
	grid-area: searchbar;
	justify-self: center;
	border-radius: 24px;
	width: 44vw;
	height:48px;
	border: 1px solid #8282825c;
	padding:15px;
	

}

#search{
	grid-area: search;
	justify-self: end;
	width:150px;
	height:30px;
}
#lucky{
	grid-area: lucky;
	justify-self: start;
	width:150px;
	height:30px;
}


#input:hover{
	box-shadow:1px 1px 3px 1px #8080809e;
}
#search:hover, #lucky:hover{
	background-color: #8e8c8c1c ;
	border: 1px solid gray;
}

.country{
	border-top:1px solid #8080804f;
	display:flex;
	flex-direction: column;
	justify-content: center;
	flex:0 1 44px;
	padding:10px;
}
.info{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "contact settings";
	border-top:1px solid #8080804f;
	height:44px;
	align-content: center;
	width:100vw;
}
.contact{
	display:flex;
	grid-area: contact;
	justify-content: start;
}
.settings{
	display:flex;
	grid-area: settings;
	justify-content: end;
}
.footer{
	background-color: #cac2c24a;
	margin:none;
	color:#515050e3;
	font-size:13px;
	position:fixed;
	bottom:0;
}
.footer a{
	color:#515050e3;
}

body{
	margin:0;
}